@import "./global-styles.css";

@media screen and (max-width: 800px) {
    .app {
        background-color: blue;
    }
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: var(--top-nav-header-height);
}

main {
    min-height: 100%;
    min-width: 100%;
    position:absolute;
    background-color: var(--hys-primary-color-1);
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.base-canvas-container {
    padding: 1rem;
}